chromedriver-py==115.0.5790.170
dj-database-url
dj-static
Django==4.2.4
django-environ==0.11.2
gunicorn==21.2.0
psycopg2-binary
python-bugzilla==3.2.0
PySocks
python-dateutil==2.8.2
python-utils==3.3.3
selenium==4.11.2
django-crispy-forms==1.12.0 # For better form rendering
sortedcontainers
sqlparse
pillow
wheel
whitenoise          # For serving static files efficiently
django-extensions==3.1.2    # Helpful extensions for Django development
requests
trio
trio-websocket
urllib3
djangorestframework