{% extends "finance/layout.html" %}

{% block body %}
    <div id="activities">
        

        <div id="main-activities">
            <select class="sort-tab"> 
                <option value="">Recent</option>
                <option value="">Oldest</option>
                <option value="">Amount</option>
            </select>

            <div class="payments">
                {% for transaction in transactions %}
                    <div class="payments-card">
                        {% if current_user.username == transaction.recipient.user.username %}
                            <div class="activities-card-name">{{transaction.sender.user.username}}</div>
                            <div class="activities-card-info">
                                <div class="activities-card-amount" style="color: rgb(0, 255, 0);">${{transaction.amount}}</div>

                        {% elif current_user.username == transaction.sender.user.username %}
                            <div class="activities-card-name">{{transaction.recipient.user.username}}</div>
                            <div class="activities-card-info">
                                <div class="activities-card-amount" style="color: rgb(176, 1, 1);">- ${{transaction.amount}}</div>
                        {% endif %}
                        
                                <div class="activities-card-date">{{transaction.date_time.date}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        
    </div>
{% endblock body %}