{% extends "finance/layout.html" %}

{% block body %}
    <div id="activities">
        <div id="amount-activities">
            <h3>$130,000</h3>
        </div>

        <div id="main-activities">
            <select class="sort-tab"> 
                <option value="">Recent</option>
                <option value="">Oldest</option>
                <option value="">Amount</option>
            </select>

            <div class="payments">
                <div class="payments-card">
                    <div class="activities-card-name">Oluwole Ventures</div>
                    <div class="activities-card-info">
                        <div class="activities-card-amount">$200</div>
                        <div class="activities-card-date">12/12/23</div>
                    </div>
                </div>

                <div class="payments-card">
                    <div class="activities-card-name">Oluwole Ventures</div>
                    <div class="activities-card-info">
                        <div class="activities-card-amount">$200</div>
                        <div class="activities-card-date">12/12/23</div>
                    </div>
                </div>

                <div class="payments-card">
                    <div class="activities-card-name">Oluwole Ventures</div>
                    <div class="activities-card-info">
                        <div class="activities-card-amount">$200</div>
                        <div class="activities-card-date">12/12/23</div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
{% endblock body %}