{% extends "finance/layout.html" %}

{% block body %}
    <div class="beneficiaries">
        <h3>My Beneficiaries</h3>

        <div class="beneficiaries-list">
            
            {% for beneficiary in beneficiaries %}
                <div class="each-beneficiary">
                    <div class="each-beneficiary-info-pin">
                        <div>
                            <h4>{{beneficiary.beneficiary_user.user.username}}</h4>
                            <p class="copy-text" style="cursor: pointer; ">{{beneficiary.beneficiary_user.accountNumber}}</p>
                        </div>

                        <svg fill="#99c1f1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.714 3.746a.6.6 0 0 1 .424.175l5.94 5.94a.6.6 0 0 1 0 .849c-.576.576-1.286.705-1.803.705-.213 0-.402-.021-.552-.046l-3.76 3.76c.098.4.162.806.191 1.216.055.842-.038 2.024-.864 2.85a.6.6 0 0 1-.848 0L9.047 15.8l-3.819 3.82c-.234.234-1.462 1.082-1.696.848-.234-.234.614-1.464.848-1.697l3.818-3.818-3.393-3.395a.6.6 0 0 1 0-.848c.825-.826 2.007-.92 2.85-.864.41.028.817.093 1.215.192l3.761-3.76a3.33 3.33 0 0 1-.048-.553c0-.516.13-1.227.707-1.804a.6.6 0 0 1 .424-.175Z"></path>
                        </svg>
                        
                    </div>
                    
                    <div class="beneficiary-action">
                        <button class="send">Send</button>
                        <button class="receive">Receive</button>
                    </div>
                </div>
            {% endfor %}

            
            
        </div>

    </div>
{% endblock body %}