{% extends "finance/layout.html" %}

{% block body %}
    <div class="beneficiaries">
        <h3>My Beneficiaries</h3>

        <div class="beneficiaries-list">
            <div class="each-beneficiary">
                <div>
                    <h4>Aaron Ezeala</h4>
                    <p>210115001</p>
                </div>
                
                <div class="beneficiary-action">
                    <a href="#"><button>Send</button></a>
                    <a href="#"><button>Receive</button></a>
                </div>
            </div>

        </div>

    </div>
{% endblock body %}