{% extends "finance/layout.html" %}

{% block body %}
    <div class="card-div">
        <div class="amount-send-receive">
            <h3 id="amount">$<p>{{ balance }}</p></h3>
            <div>
                <a href="#" class="send-receive send">Send</a>
                <a href="#" class="send-receive receive">Receive</a>
            </div>

        </div>
        <!--Transactions Section  -->
        <!-- ------------------------------------------------------- -->
        <a class="card transactions-card" href="{% url 'financial_activities' %}">
            <ul>
                <h3>All Transactions</h3>
                {% for transaction in transactions %}
                        <li>
                            {% if current_user.username == transaction.recipient.user.username %}
                                <h4>Received from {{transaction.sender.user.username|title}}</h4>
                                <p class="green-text">+${{transaction.amount}}</p>
                            {% elif current_user.username == transaction.sender.user.username %}
                                <h4>Sent to {{transaction.recipient.user.username|title}}</h4>
                                <p class="red-text">-${{transaction.amount}}</p>
                            {% endif %}
                            
                        </li>
                {% endfor %}
            </ul>
        </a>

        

        <!-- Beneficiaries Section  -->
        <!-- ------------------------------------------------------- -->
        <a class="card beneficiary-card" href="{% url 'beneficiaries' %}">
            <ul>
                <h3>Beneficiaries</h3>

                {% for account in accounts %}
                    <li><h3>{{account.user.username}}</h3><p>{{account.accountNumber}}</p></li>
                {% endfor %}
            </ul>
        </a>
        

        
    </div>
{% endblock %}