{% extends "finance/layout.html" %}

{% block body %}
    <div class="card-div">
        <div class="amount-send-receive">
            <h3 id="amount">$130,000</h3>
            <div>
                <a href="#" class="send-receive">Send</a>
                <a href="#" class="send-receive">Receive</a>
            </div>
           
        </div>
        <!--Transactions Section  -->
        <!-- ------------------------------------------------------- -->
        <a class="card transactions-card" href="{% url 'financial_activities' %}">
            <ul >
                <h3>All Transactions</h3>
                <li><h4>Deposit:</h4> <p>$100,000</p></li>
                <li><h4>Deposit:</h4> <p>$100,000</p></li>
                <li><h4>Deposit:</h4> <p>$100,000</p></li>
                <li><h4>Deposit:</h4> <p>$100,000</p></li>
            </ul>
        </a>

        

        <!-- Beneficiaries Section  -->
        <!-- ------------------------------------------------------- -->
        <a class="card beneficiary-card" href="{% url 'beneficiaries' %}">
            <ul>
                <h3>Beneficiaries</h3>
                <li><h3>Promise Chidinma</h3><p>210115001</p></li>
            </ul>
        </a>
        

        
    </div>
{% endblock %}