{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- styles link  -->
        <link rel="stylesheet" href="{% static 'finance/style.css' %}">
        <link rel="stylesheet" href="{% static 'finance/finance_activities.css' %}">
        <link rel="stylesheet" href="{% static 'finance/beneficiaries.css' %}">
        <link rel="stylesheet" href="{% static 'finance/profile.css' %}">
        <link rel="stylesheet" href="{% static 'finance/modal_box.css' %}">
        <script type="module" src="{% static 'finance/script.js' %}"></script>
        <title>Finance App</title>
    </head>


    <script>
        function copyToClipboard(text){
            navigator.clipboard.writeText(text)
                .then(() => {
                console.log('Text copied to clipboard');
                })
                .catch((err) => {
                console.error('Err or copying text: ', err);
                });
            };
    </script>
    <body>
        <!-- --Popup Notification--  -->
        <div class="popup-container" id="topPopup">
            <div>PopUp</div>
        </div>
        
        <!-- Navbar section  -->
        <nav>
            <svg class="nav-menu-icon" width="46" height="46" fill="none" stroke="#99c1f1" stroke-linecap="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.75 7.5h16.5"></path>
                <path d="M3.75 12h16.5"></path>
                <path d="M3.75 16.5h16.5"></path>
            </svg>
            <a href="{% url 'finance_index' %}"><h3>AceFinance</h3></a>

        </nav>
        
        <div id="main">
            <section>
                <ul id="sidebar-section">
                    <h2>Overview</h2>
                    <a href="{% url 'finance_index' %}"><li>My Account</li></a>
                    <a href="{% url 'financial_activities' %}"><li>All Transactions</li></a>
                    <a href="{% url 'beneficiaries' %}"><li>Beneficiaries</li></a>
                    <a href="{% url 'finance_profile' %}"><li>My Profile</li></a>

                    <!-- change the url code to the conventional django urls like above in urls.py -->
                    <a href="{% url 'finance_login' %}"><li>Log Out</li></a>  
                </ul>
            </section>
            
            <section  id="main-section">
                {% block body %}
                {% endblock %}
            </section>
        </div>

        <div class="modal-container-div transaction-box">
            
            
            <form class="modal-container" action="">
                <svg class="modal-close-button modal-close-button-transaction" fill="#99c1f1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41Z"></path>
                </svg>
                <h2>Transaction In Progress</h2>
                <div class="modal-form-acc-no">
                    <input required placeholder="Acc. Number" type="number" name="accountNumber">
                    <div id="beneficiaries-list">
                        <p class="modal-small-text">...</p>
                        <a>Beneficiaries</a>
                    </div>
                </div>

                
                
                <div class="modal-form-amount">
                    <input required placeholder="Amount" type="number" name="amount">
                    <p class="modal-small-text">Main Balance: $200,000</p>
                </div>

                <div class="modal-form-note">
                    <textarea placeholder="Note" name="transactionNote" ></textarea>
                </div>
                
                <div>
                    <button type="submit">Confirm!</button>
                </div>
            </form>
            
        </div>
        

    </body>
</html>