{% extends 'books/notes_layout.html' %}
{% block section %}
    <form class="note-edit" method="post">
        {% csrf_token %}
        <div class="search-book-note-input">
            <div class="note-search-dropdown">
                <label for="books-for-note"><h3>Book Title: </h3></label>
                <select id="books-for-note" name="bookId">
                    
                    {% if not note_edit_mode %}
                        {% for title in book_titles %}
                            {% if selectId == title.book_id %}
                                <option value="{{title.book_id}}" selected>{{title.title}}</option>
                            {% else %}
                                <option value="{{title.book_id}}">{{title.title}}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option value="" selected>{{editedNote.book.title}}</option>
                    {% endif %}
                </select>
                
                {% if not note_edit_mode  %}
                    <button><a href="{% url 'notes' %}">All</a></button>
                    <div id="search-notes-in-shelf">
                    <svg  width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14Z"></path>
                        <path d="m21 21-6-6"></path>
                    </svg>
                    </div>
                {% endif %}
                    
            </div>
            
            {% if not note_edit_mode %}
                <div id="note-search-function">
                    <p>Search the book in shelf and select the result from the dropdown above:</p>
                    <input id="noteSearchBook" type="text" placeholder="Search Your Shelf" name="searchTerm">
                    <button type="submit" formaction="{% url 'notes' %}">Search Book</button>
                </div>
            {% endif %}
                
            
            
        </div>
        <div id="note-textarea">
            <textarea rows="1" class="textarea-title" name="note_title" placeholder="Title">{{editedNote.title}}</textarea>
            <textarea class="textarea-content" placeholder="Start Noting!" name="note_content" id="" cols="30" rows="10">{{editedNote.content}}</textarea>

        </div>
        
        {% if not note_edit_mode %}
            <button type="submit" formaction="{% url 'addNote'%}">Save</button>
        {% else %}
            <button type="submit" formaction="{% url 'edit_note' editedNote.id %}">Save</button>
        {% endif %}
            
        
    </form>
{% endblock section %}
    