/* Default Styling  */
/* ------------------------------------------------------------------------------------------------------------------------ */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:black;
}

:root:root {
    --primary-color: #595758;
    --accent-color: #F7996E;
    --highlight-color: #F4F1BB;
    --text-color: #E6EBE0;
    --cta-color: #9BC1BC;

    /* --primary-color:#7B6B43;
    --accent-color:#5e3c0b;
    --highlight-color:#2a1f0e;
    --text-color:#3e3e3e;
    --cta-color:#3e3e3e; */

    --courier-font:'Courier New', Courier, monospace; 
}

body{
    background-color: var(--primary-color);
}

/* nav styling */
/* ------------------------------------------------------------------------------------------------------------------------------- */
nav, nav ul, nav li, nav button{
    display:flex;
    font-size: 14px;
    align-items: center;
    font-family:var(--courier-font);
    font-weight: bolder;
}
nav{
    background:transparent;
    padding: 1.3rem;
    gap:20px;
    justify-content: space-between;
    color:var(--cta-color);
}

#username{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color:transparent;
    padding: 0.5rem;
    border: var(--cta-color) 1px solid;
    border-radius: 10px;
    color: var(--accent-color);
    transition:all 0.2s ease;
}


#username:hover{
    color: var(--primary-color);
    background-color:var(--accent-color) ;
    border-color: var(--accent-color);
}




nav ul{
    justify-content: space-between;
    gap:20px;
}

nav li{
    gap:2px;
    color: var(--cta-color);
    transition: all 0.5s ease;
}
nav li:hover{
    color:var(--accent-color);
}


nav button{
    padding: 0.6rem;
    background-color: transparent;
    border:var(--accent-color) 0.16rem solid;
    border-radius:5px;
    text-align: center;
    color:var(--accent-color);
    transition:all 0.3s ease;
}

nav button:hover{
    color:var(--primary-color);
    background-color:var(--accent-color) ;
}

.nav-num{
    color:var(--accent-color);
    transition: all 0.3s ease;
}
nav li:hover  .nav-num{
    color:var(--cta-color);
}


/* Body Styling */
/* ---------------------------------------------------------------------- */
#intro{
    border: 2px solid var(--accent-color);
    padding: 3rem;
    margin: auto;
    width: 70%;
    display:flex;
    flex-direction: column;
    gap: 26px;
}

#intro-name{
    font-size: 18px;
    font-weight: bold;
    color:var(--accent-color);
    font-family:var(--courier-font);
}

#intro h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color:var(--highlight-color);
}

#intro p{
    color:var(--text-color);
    width: 50%;
    font-family:monospace;
}

#intro button{
    font-family: var(--courier-font);
    padding: 0.9rem;
    margin-top: 10px;
    background-color: transparent;
    border:solid var(--cta-color) 2px;
    border-radius: 5px;
    color:var(--cta-color);
    transition: all 0.3s ease;
}

#intro button:hover{
    color:var(--primary-color);
    background-color: var(--cta-color);
}