:root{
    --backgroundclr:#1B262C;
    --darker-backgroundclr:#262b2d;
    --textclr:#BBE1FA;
    --ctaclr:#0e3b59;
    --primaryclr:#3282B8;
}

.card-page{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 1rem;
}

.card-page>h3{
    background-color: var(--darker-backgroundclr);
    width: 100%;
    padding: 1rem;
    border-radius:10px;
    text-align: center;
    color:var(--textclr);
    border: 1px solid var(--textclr);
}

.card-page-list{
    display: flex;
    flex-direction:column;
    gap:20px;
}

@media (min-width:800px){
    .card-page-list{
        gap:3em;
        padding: 1rem;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-page>h3{
        width: fit-content;
        align-self: flex-start;
        margin-left: 1em;
    }
}