.noti-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.noti-div li{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    border: black 1px solid ;
    border-radius: 1rem;
    background-color:var(--ctaclr);
}

.noti-div p{
    position: absolute;
    bottom: 2px;
    right: 1rem;
    font-size: 10px;
    align-self: flex-start;
}

.not-read{
    background-color: var(--primaryclr);
}


@media(min-width:1000px){
    .noti-div li{
        font-size: 20px;
    }
}