*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    list-style-type: none;
    text-decoration:none;
    color: var(--textclr);
}


:root{
    --backgroundclr:#1B262C;
    --darker-backgroundclr:#262b2d;
    --textclr:#BBE1FA;
    --ctaclr:#0e3b59;
    --primaryclr:#3282B8;
    --primarytransparent:#3282b841;
}

body{
    margin: auto;
    width: 100%;
    background-color:var(--backgroundclr) ;
}


input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Remove arrows in Chrome, Safari, Edge, and Opera */
}

/* Additional styles to control the appearance of the input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove arrows in Chrome, Safari, and Opera */
    margin: 0; /* Additional margin styling if needed */
}


/* popup notification styling  */
/* ------------------------------------------------------------------------------------  */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff7f;
    box-sizing: border-box;
    animation: slideDown 0.5s ease-out;
}

.popup-container > div{
    width: fit-content;
    font-size: 10px;
    overflow: hidden;
    margin: 1rem ;
    border-radius: 10px;
    padding:0.35rem 0.5rem ;
    background-color: var(--primarytransparent);
    backdrop-filter: blur(10px);
}

.showFlex{
    display: flex;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


/* nav styling   */
/* ------------------------------------------------------------------------- */
nav{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav svg:hover{
    cursor:pointer;
}

nav h3{
    color: var(--textclr);
}



/* body styling */
/* ------------------------------------------------------------------------------------ */
body #main{
    width: 100%;
    display: flex;
    padding: 1rem;
}

#main-section{
    width: 100%;
    display: flex;
    justify-content: center;

}

/* side bar styling */
#sidebar-section{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: fit-content;
    height: fit-content;
    padding: 3rem;
    padding-top:0 ;
    border: solid 1px var(--textclr);
    color: var(--textclr);
}
#sidebar-section.hide{
    display:none;
}

#sidebar-section h2{
    padding: 1rem;
    padding-left: 0;

}


#sidebar-section li{
    padding: 0.6rem;
    width:100%;
    transition:all 0.2s ease;
}

#sidebar-section li:hover{
    background-color:var(--ctaclr);
    cursor: pointer;
}



/* main body styling */
/* ----------------------------------------------------------------------------------------------------------------------------------- */


/* amount section with send and receive buttons  */
/* ------------------------------------------------------------------------------------------------------------------- */
.amount-send-receive{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width: 100%;
}

.amount-send-receive div{
    display: flex;
    justify-content: space-around;
    width:100%;
}

#amount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--textclr);
    background-color: var(--darker-backgroundclr);
    width: fit-content;
}



.send-receive{
    font-size: 14px;
    padding: 0.5rem;
    background-color: var(--ctaclr);
    border-radius: 10px;
    border: 1px solid var(--textclr);
}

.send-receive:hover{
    background-color: var(--backgroundclr);
}




/* card styling */
/* -------------------------------------------------------------------------------------------------------- */
.card-div{
    padding:0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textclr);
    gap:30px;
    flex-direction:column;
    width: 100%;
    margin:0 2rem;
}



.card{
    padding: 1rem;
    width: 100%;
    height:100%;
    border:1px solid black;
    background-color: var(--ctaclr);
    display:flex;
    flex-direction: column;
    transition:all ease 0.3s ;
}

.card:hover{
    background-color: var(--darker-backgroundclr);
    cursor:pointer;

}

.card li{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display:flex;
    justify-content:space-between;
}

.transactions-card ul{
    display: flex;
    gap:20px;
    flex-direction:column;
}

.transactions-card li{
    padding: 1rem;
    border:1px solid black;
    background-color: var(--backgroundclr);
    transition: all 0.3s ease;
}

.card:hover.transactions-card li{
    background-color: var(--ctaclr);
}

/* credit card creation and styling */
/* --------------------------------------------------------------------------- */
.credit-card{
    color: beige;
    /* background-image:url(https://img.freepik.com/free-vector/flat-design-polygonal-background_23-2148900723.jpg); */
    background-image:url(https://wallpaperswide.com/download/abstract_geometric_background-wallpaper-3554x1999.jpg);
    background-size: cover;
    width: 350px;
    padding: 8px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    font-size: 14px;
    font-weight: bolder;
    transition:all 0.3s ease;
}

.credit-card:hover{
    cursor:pointer;
    scale: 1.03;
}

.credit-card-name-bank{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
    
}

.chip-and-arrow{
    display: flex;
    align-items: center;
    justify-self: flex-end;
}
.arrow-icon{
    width: 3.4em;
}
.chip-icon{
    width: 3em;
}


.card-number{
    padding-left: 20px;
    font-size: 22px;
}

.date-and-mastercard-logo{
    display:flex;
    align-items: center;
    gap:20px;
    align-self: flex-end;
    font-size: 16px;
}

.valid-thru{
    font-size: 9px;
    width: 10px;
    padding-right: 15px;
}

.cardholder-name{
    font-size: 16px;
}


/* Beneficiary card styling */
.beneficiary-card{
    height:fit-content;
    width: 100%;
}
.beneficiary-card li{
    font-size: 12px;
    background-color: var(--darker-backgroundclr);
    padding: 5px;
    margin-top:10px;
    border-radius: 5px;
    flex-direction: column;
}

.beneficiary-card p{
    align-self: flex-end;
}
.beneficiary-card:hover li{
    background-color: var(--ctaclr);
}

/* profile card styling */
.profile-details-div{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:15px;
}

.profile-details{
    display: flex;
    flex-direction:column;
    gap:5px;
}


/* ---------------------------------------------------------------------------------------------------- */
/* media query */
/* ------------------------------------------------------------------------------------------------------- */
@media (max-width:700px){
    #sidebar-section{
        display: none;
        position: fixed;
        backdrop-filter: blur(9px);
    }

    #sidebar-section.hide{
        display: flex;
    }
    
    .card-div{
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    
    .card{
        width: 100%;
        height:100%;
    }
    .card-div > a{
        width: 100%;
    }

    
    .credit-card{
        width: 200px;
        height:130px ;
        font-size: 8px;
        margin: 0;
        
    }
    
    
    
    .credit-card-name-bank{
        display: flex;
        justify-content: space-between;
        margin-bottom:20px;
        
    }
    
    .chip-and-arrow{
        display: flex;
        align-items: center;
        justify-self: flex-end;
        margin-bottom:6px ;
    }
    .arrow-icon{
        width: 20px;
        height: 20px;
    }
    .chip-icon{
        width: 20px;
        height: 20px;
    }
    
    .card-number{
        padding-left: 20px;
        font-size: 10px;
    }
    
    .date-and-mastercard-logo{
        display:flex;
        align-items: center;
        gap:5px;
        align-self: flex-end;
        font-size: 8px;
        
    }
    
    .valid-thru{
        font-size: 5px;
        width: 10px;
        padding-right: 15px;
    }
    
    .cardholder-name{
        font-size: 8px;
    }
    
    .profile-card{
        width: fit-content;
        height: fit-content;
    }   
}

@media (min-width:500px){
    .amount-send-receive div{
        justify-content: center;
        width: fit-content;
        padding-top: 1rem;
        gap:1rem;
        align-self: flex-start;
    }

    .send-receive{
        font-size: 20px;
    }

    .popup-container > div{
        font-size: 18px;
        padding: 0.7rem;
    }
}

@media (max-width:378px){
    .card{
        font-size: 12px;
    }
    .card-div{
        padding: 0;
    }
    .profile-details-div img{
        width:50px !important;
        height: auto !important;
    }
    .profile-details{
        font-size: 10px;;
    }
}

@media (max-width:253px){
    .credit-card{
        width: 115%;
    }
    .beneficiary-card li h3{
        font-size: 10px;
    }
}