{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style href=""></style>
</head>
<body>

    <nav>
        <span>ace</span>
        <ul>
            <li><div class="nav-num"></div>About</li>
            <li><div class="nav-num"></div>Certificate</li>
            <li><div class="nav-num"></div>Experience</li>
            <li> <button>Resume</button></li>
        </ul>
    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>