{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'mainpage/style.css' %}">
    <script src="{% static 'mainpage/script.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

    <nav>
        <a href="https://github.com/BlacAc3" target="_blank"><div id="username"><i class="fa fa-github"></i>BlacAc3</div></a>
        <ul>
            <li class="nav-home"><div class="nav-num">01.</div>Home</li>
            <li class="nav-about"><div class="nav-num">02.</div>About</li>
            <li class="nav-cert"><div class="nav-num">03.</div>Certificate</li>
            <li><button>Resume</button></li>
        </ul>
    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>