{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'mainpage/style.css' %}">
</head>
<body>

    <nav>
        <div id="username">BlacAc3</div>
        <ul>
            <a href=""><li><div class="nav-num">01.</div>About</li><a href=""></a>
            <a href=""><li><div class="nav-num">02.</div>Certificate</li></a>
            <a href=""><li><div class="nav-num">03.</div>Experience</li></a>
            <a href=""><li> <button>Resume</button></li></a>
        </ul>
    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>